body{background-color:orange;}

p{color:white;font-family: Arial;}

h1{color: brown; font-family:Aharoni;}

h3 {color: black; font-family:Garamond;}

ul{
  list-style-type: lower roman;
  color:yellow;
  font-family:"Iskoola Pota";
}
